<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>About Us</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/blog/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


<style>
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="about.html">ABOUT  US</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">HOME
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="info.html">Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tools.html">Tools</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="checkup.html">Our Solution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSc4RHmltWTaNthnbaZo7rfxiFSuJH3wg4v0k1NzCXpwP1-1Xg/viewform">Feedback</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
<!-- Section: Team v.1 -->
<section class="team-section text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5 text-center">Our Amazing Team</h2>
  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5 center">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h3 class="font-weight-bold mt-4 mb-3">Dr. Pradeep N</h3>
      <p class="text-uppercase blue-text"><strong>Team Guide</strong></p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a href="#" class="btn btn-large btn-dark">
          <i class="fa fa-facebook-f blue-text"> </i>
        </a>
        <!-- Instagram -->
        <a href="#" class="btn btn-large btn-dark">
          <i class="fa fa-instagram blue-text"> </i>
        </a>
        <a href="#" class="btn btn-large btn-dark">
          <i class="fa fa-github blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    </div>
  <!-- Grid row -->

</section>





<section class="team-section text-center my-5">

  <!-- Section heading -->
  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h3 class="font-weight-bold mt-4 mb-3">Tejaswini M R</h3>
      <p class="text-uppercase blue-text"><strong>BackEnd Developer</strong></p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a href="#" class="btn btn-large btn-dark">
          <i class="fa fa-facebook-f blue-text"> </i>
        </a>
        <!-- Instagram -->
        <a href="#" class="btn btn-large btn-dark">
          <i class="fa fa-instagram blue-text"> </i>
        </a>
        <a href="#" class="btn btn-large btn-dark">
          <i class="fa fa-github blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h3 class="font-weight-bold mt-4 mb-3">Suraj Singh</h3>
      <p class="text-uppercase blue-text"><strong>FullStack Developer</strong></p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a href="#" class="btn btn-large btn-dark">
          <i class="fa fa-facebook-f blue-text"> </i>
        </a>
        <!-- Instagram -->
        <a href="#" class="btn btn-large btn-dark">
          <i class="fa fa-instagram blue-text"> </i>
        </a>
        <a href="#" class="btn btn-large btn-dark">
          <i class="fa fa-github blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h3 class="font-weight-bold mt-4 mb-3">Sujaya T Ekbote</h3>
      <p class="text-uppercase blue-text"><strong>FrontEnd Developer</strong></p>

      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a href="#" class="btn btn-large btn-dark">
          <i class="fa fa-facebook-f blue-text"> </i>
        </a>
        <!-- Instagram -->
        <a href="#" class="btn btn-large btn-dark">
          <i class="fa fa-instagram blue-text"> </i>
        </a>
        <a href="#" class="btn btn-large btn-dark">
          <i class="fa fa-github blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h3 class="font-weight-bold mt-4 mb-3">Medhansh Chaubey</h3>
      <p class="text-uppercase blue-text"><strong>FullStack Developer</strong></p>

      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a href="#" class="btn btn-large btn-dark">
          <i class="fa fa-facebook-f blue-text"> </i>
        </a>
        <!-- Instagram -->
        <a href="#" class="btn btn-large btn-dark">
          <i class="fa fa-instagram blue-text"> </i>
        </a>
        <a href="#" class="btn btn-large btn-dark">
          <i class="fa fa-github blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Team v.1 -->


</body>

</html>