<html>
<head>
<title>INFO</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<style>
body{
    background-image: url("../static/images/information.jpg");
}
.social-card-header{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 96px;
}
.social-card-header i {
    font-size: 32px;
    color:#FFF;
}
.bg-facebook {
    background-color:#3b5998;
}
.text-facebook {
    color:#3b5998;
}
.bg-google-plus{
    background-color:#dd4b39;
}
.text-google-plus {
    color:#dd4b39;
}
.bg-twitter {
    background-color:#1da1f2;
}
.text-twitter {
    color:#1da1f2;
}
.bg-pinterest {
    background-color:#bd081c;
}
.text-pinterest {
    color:#bd081c;
}
.share:hover {
        text-decoration: none;
    opacity: 0.8;
}
.right {
  display: block;
  margin-top: 80px;
  margin-left: auto;
  margin-right: 0px;
  width: 100%;
}
</style>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="info.html">INFO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">HOME
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tools.html">Tools</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="checkup.html">Our Solution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSc4RHmltWTaNthnbaZo7rfxiFSuJH3wg4v0k1NzCXpwP1-1Xg/viewform">Feedback</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<div class="container">
   <div class="row">
      <div class="col-md-6 right">
         <div class="card border-success flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
               <strong class="d-inline-block mb-2 text-success">INFORMATION</strong>
               <h2 class="mb-0">
                  <a class="text-dark" href="#">What is Diabetic Retinopathy ?</a><br><br>
               </h2>
               <p class="card-text mb-auto">Diabetic retinopathy, also known as diabetic eye disease, is a medical condition in which damage occurs to the retina due to diabetes mellitus. It is a leading cause of blindness.<br><br>
                Diabetic retinopathy affects up to 80 percent of those who have had diabetes for 20 years or more. At least 90% of new cases could be reduced with proper treatment and monitoring of the eyes. The longer a person has diabetes, the higher his or her chances of developing diabetic retinopathy. Each year in the United States, diabetic retinopathy accounts for 12% of all new cases of blindness. It is also the leading cause of blindness in people aged 20 to 64.
               </p><br>
               <a class="btn btn-outline-success btn-md" href="https://en.wikipedia.org/wiki/Diabetic_retinopathy"><strong>FURTHERMORE</strong></a><br>
            </div>
         </div>
      </div>
   </div>
   <br><br><br>
   <div class="row">
      <div class="col-md-6">
         <div class="card text-white bg-primary flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
               <strong class="d-inline-block mb-2 text-white">SITUATION</strong>
               <h2 class="mb-0">
                  <a class="text-white" href="#">Diabetic Retinopathy: an emerging eye disease in India</a><br><br>
               </h2>
               <p class="card-text mb-auto">Currently, In India diabetes is a disease that affects over 65 million persons in India. To spread awareness among people major hospitals in India organizes the free eye checkup camps in villages where people can get their eye checkup for free.<br><br>
                Those retinal images of people were collected and sent to an expert Ophthalmologist. After that, the Ophthalmologist examines those images and the summons those patients who were likely to suffer from Diabetic Retinopathy. This summoned patient than were informed that they are likely to suffer from Diabetic Retinopathy and should consult the expert Ophthalmologist for a proper checkup.
                </p><br>
               <a class="btn btn-outline-light btn-md" role="button" href="https://www.rrh.org.au/journal/article/2809"><strong>FURTHERMORE</strong></a><br>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <div class="card text-white bg-success flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
               <strong class="d-inline-block mb-2 text-white">AI POWER TECHNIQUE</strong>
               <h2 class="mb-0">
                  <a class="text-white" href="#">The AI program that can tell whether you may go blind</a><br><br>
               </h2>
               <p class="card-text mb-auto">India has a growing problem of Diabetic Retinopathy with over 18% of diabetic Indians already have ailment.<br><br>
                This whole campaigning process takes almost half a month or more and to shorten this gap we had come up with the idea which almost cut down these process into one or two days, which help the Ophthalmologist to focus more on the treatment and avoid the hectic work of identifying which patient has Diabetic Retinopathy and which doesn't.
                </p><br><br><br>
               <a class="btn btn-outline-light btn-md" href="https://www.sciencedirect.com/science/article/pii/S1877050916311929"><strong>FURTHERMORE</strong></a><br>
            </div>
         </div>
      </div>
   </div>
</div>
</body>
</html>